<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>    
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <%- include("header") %>
    <h1>All Workouts</h1>
    <table border="1" style="margin:auto;">
      <tr>
        <th>ID</th>
        <th>Workout Name</th>
        <th>Calories</th>
        <th>Date</th>
      </tr>
      <% workouts.forEach(function(workout) { %>
        <tr>
          <td><%= workout.id %></td>
          <td><%= workout.workout_type %></td>
          <td><%= workout.calories %></td>
          <td><%= workout.workout_date.toISOString().slice(0,10) %></td>
        </tr>
      <% }) %>
    </table>
  </body>
</html>
