<!doctype html>
<html>
  <head>
    <title><%= shopData.shopName %></title>    
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <%- include("header") %>
    <h1>Your Workout Log</h1>
    <% if (workouts && workouts.length > 0) { %>
      <div class="workoutGrid">
        <% workouts.forEach(function(w) { %>
          <div class="workoutWrap">
            <div class="workoutCard">
              <h3><%= w.workout_type %></h3>
            </div>
            <div class="workoutList">
              <ul>
                <li><strong>Duration:</strong> <%= w.duration %> min</li>
                <li><strong>Calories:</strong> <%= w.calories %></li>
                <li><strong>Date:</strong> <%= w.workout_date.toISOString().split('T')[0] %></li>
                <li class="workoutActions">
                  <a href="./workout/edit/<%= w.id %>">Edit</a> |
                  <a href="./workout/delete/<%= w.id %>">Delete</a>
                </li>
              </ul>
            </div>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <p>No workouts logged yet.</p>
    <% } %>
  </body>
</html>
